@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');*/
html{
    font-family: 'Orbitron', sans-serif;
    color: #3d3d3d;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('images/background-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main{
    align-items: center;
    justify-content: center; 
    background-color: rgba(242, 75, 30, 85%);
    padding: 30px 40px;
    width: 100%;
}

.content{
    width: 90%;
    margin: 0 auto;
}

button{
    background-color:black;
    padding: 10px 20px;
    border: 0px solid black;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

form div{
    margin: 5px 0;
}

p {
    margin-top: 40px;
}

h1{
    color: white;
    text-shadow: 2px 2px #ff0000;
    font-size: 40px;
    text-align: center;
}

#answer{
    margin-top: 10px;
}


@media all and (min-width: 600px){
    .content{
        width: 50%;
    }
}